# 1) Import the Required Libraries

In [1]:
import pandas as pd

# 2. Read csv file convert it into the datframe and read the first six values

   Check last five values from the dataframe

In [2]:
df = pd.read_csv("Crop_recommendation.csv")
df.head(6)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice

In [3]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

# 3. Check for null values in the dataframe

--This command gives output in boolean way that is if 

--True value > Null values present 

--Flase value > No null values

In [4]:
df.isnull()

          N      P      K  temperature  humidity     ph  rainfall  label
0     False  False  False        False     False  False     False  False
1     False  False  False        False     False  False     False  False
2     False  False  False        False     False  False     False  False
3     False  False  False        False     False  False     False  False
4     False  False  False        False     False  False     False  False
...     ...    ...    ...          ...       ...    ...       ...    ...
2195  False  False  False        False     False  False     False  False
2196  False  False  False        False     False  False     False  False
2197  False  False  False        False     False  False     False  False
2198  False  False  False        False     False  False     False  False
2199  False  False  False        False     False  False     False  False

[2200 rows x 8 columns]

# 4. Check column wise null values using isnull().sum()

In [5]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

# 5. check the basic info of the dataframe using info function

--Here we get the whole information about the dataset; clouns datatype

--We get the last column as object data type and rest all columns are with 
  float and int data type; Last column is Label which has categories 
  
--Classification problem

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

# 6. Check categories in label column

In [7]:
df['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

# 7. Split the data into x=features and Y=predicted output

In [8]:
x=df.drop('label', axis=1) # separate the features from y 
#temporary delete the columns so drop with axis=1

In [9]:
y=df['label']

In [10]:
x.info() #here we get x in dataframe form

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 120.4 KB

In [11]:
y.info() # here we het a single column threrefore y in series form

<class 'pandas.core.series.Series'>
RangeIndex: 2200 entries, 0 to 2199
Series name: label
Non-Null Count  Dtype
--------------  -----
2200 non-null   object
dtypes: object(1)
memory usage: 17.3+ KB

# 8. Train and test data Split

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=1, test_size=0.2)

In [13]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1760 entries, 1863 to 1061
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            1760 non-null   int64
 1   P            1760 non-null   int64
 2   K            1760 non-null   int64
 3   temperature  1760 non-null   float64
 4   humidity     1760 non-null   float64
 5   ph           1760 non-null   float64
 6   rainfall     1760 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 110.0 KB

In [14]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440 entries, 1276 to 1263
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            440 non-null    int64
 1   P            440 non-null    int64
 2   K            440 non-null    int64
 3   temperature  440 non-null    float64
 4   humidity     440 non-null    float64
 5   ph           440 non-null    float64
 6   rainfall     440 non-null    float64
dtypes: float64(4), int64(3)
memory usage: 27.5 KB

In [15]:
y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 1760 entries, 1863 to 1061
Series name: label
Non-Null Count  Dtype
--------------  -----
1760 non-null   object
dtypes: object(1)
memory usage: 27.5+ KB

# 9. Model selection, fit the model, accuracy check for the dataset

1-- Logistic Regression

2-- Decision Tree

3-- Randomforest

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\Kaustubha R Gawas\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
y_pred1=model.predict(x_test)

In [19]:
from sklearn.metrics import accuracy_score
logistic_reg_acc=accuracy_score(y_test,y_pred1)
print("Logistic Regression accuracy is "+ str(logistic_reg_acc))

Logistic Regression accuracy is 0.9704545454545455

In [20]:
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()
model2.fit(x_train,y_train)
y_pred3=model2.predict(x_test)

In [21]:
decision_acc=accuracy_score(y_test,y_pred3)
print("Decision Tree accuracy is "+ str(decision_acc))

Decision Tree accuracy is 0.9954545454545455

In [22]:
from sklearn.ensemble import RandomForestClassifier
model3=RandomForestClassifier()
model3.fit(x_train,y_train)
y_pred4=model3.predict(x_test)

In [23]:
random_acc=accuracy_score(y_test,y_pred4)
print("Random Forest accuracy is "+ str(random_acc))

Random Forest accuracy is 0.9977272727272727

# 10. Select the best model and Save the model

In [24]:
import pickle
filename = "savedmodel.sav"
pickle.dump(model2, open(filename,'wb'))

In [25]:
load_model = pickle.load(open(filename,'rb'))            # here we load the model

In [26]:
# lets predict on a sample data using loaded model.

In [27]:
load_model.predict([[90,42,43,20.879744,82.002744,6.502985,202.935536]])    # based on our columns add added just to check.

C:\Users\Kaustubha R Gawas\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['rice'], dtype=object)